<script>
  function updateDiv(divId, data) {
    document.getElementById(divId).innerHTML = data;
  }

  // window.onload = function() {
  //   setInterval({
  //     fetch('/api/dir/input').then((data) => updateDiv('input', data));
  //     fetch('/api/dir/error').then((data) => updateDiv('error', data));
  //     fetch('/api/dir/fail').then((data) => updateDiv('fail', data));
  //     fetch('/api/dir/ignore').then((data) => updateDiv('ignore', data));
  //     fetch('/api/dir/pass').then((data) => updateDiv('pass', data));
  //   }, 4000);
  // };

  function populate() {
    fetch('/api/dir/pass')
      .then((response) => response.json())
      .then(
        (data) =>
          (document.getElementById('input').innerHTML = JSON.stringify(data))
      );

    // fetch('/api/dir/input').then(document.getElementById('input').innerHTML = 'POPULATED';);

    // document.getElementById('input').innerHTML = 'POPULATED';
  }
</script>
<p>
  This demo will showcase some xml validation. The server has a couple
  directories of interest, chiefly 'input' and 'output'. 'output' has four
  subfolders, 'error', 'fail', 'ignore', and 'pass'. Below you can see several
  readouts of the directories in question involving the files within. The
  directory iframes always refresh every 4 seconds. You can upload files to
  input and you can download any of the files you see by clicking on them. The
  validator executes in the background every eight seconds.
</p>

<hr />

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
      <center>
        <h3>Input Directory</h3>
        <br />
        <button onclick="populate()">Populate Button</button>
        <br />
        <i>(/root/project/data/input on host)</i>
        <br />
        <div id="input"></div>
        <!-- <iframe
          src="/demos/xml-validator/iframe/input"
          height="400"
          width="800"
          frameborder="1"
        ></iframe> -->
        <br />
        <b>Upload to input</b>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="fileupload" />
          <input type="submit" />
        </form>
      </center>
    </div>
  </div>
</div>
<hr />
<center>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Error</h3>
        <br />
        <i>(files that cause crashes)</i>
        <br />
        <div id="error"></div>
        <!-- <iframe
          src="/demos/xml-validator/iframe/error"
          height="400"
          width="400"
          frameborder="1"
        ></iframe> -->
      </div>
      <div class="col">
        <h3>Fail</h3>
        <br />
        <i>(xml data did not match schema)</i>
        <br />
        <div id="fail"></div>
        <!-- <iframe
          src="/demos/xml-validator/iframe/fail"
          height="400"
          width="400"
          frameborder="1"
        ></iframe> -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Ignore</h3>
        <br />
        <i>(file is not xml)</i>
        <br />
        <div id="ignore"></div>
        <!-- <iframe
          src="/demos/xml-validator/iframe/ignore"
          height="400"
          width="400"
          frameborder="1"
        ></iframe> -->
      </div>
      <div class="col">
        <h3>Pass</h3>
        <br />
        <i>(xml files that match the schema)</i>
        <br />
        <div id="pass"></div>
        <!-- <iframe
          src="/demos/xml-validator/iframe/pass"
          height="400"
          width="400"
          frameborder="1"
        ></iframe> -->
      </div>
    </div>
  </div>
</center>
