<p>
  This demo will showcase some xml validation. The server has a couple
  directories of interest, chiefly 'input' and 'output'. 'output' has four
  subfolders, 'error', 'fail', 'ignore', and 'pass'. Below you can see several
  readouts of the directories in question involving the files within. The
  directory iframes always refresh every 1 second. Once the demo starts, a
  script will check the xml file against the xsd file. The Click the button
  below to initiate the demo.
</p>

<hr />
<center>
  <a href="/demos/xml-validator/start"
    ><button class="btn btn-primary">Begin Validator Demo</button></a
  >
</center>
<hr />
