<h3>Persistent Storage with Docker</h3>
<p>
  Docker executes programs within containers, which can be great for security
  purposes, but can be rough if files are written to the container and lost upon
  termination of the process.
</p>
<p>
  If you want to write files to host storage from within the container and have
  a file structure in your application that you want to use, then use the
  following command when you want to run your Docker container:
</p>
<code>docker run -v ${HOST PATH}:${CONTAINER PATH}</code>
