<center>
  <h3>Guides</h3>
  <hr />

  <a href="/guides/nodejs">
    <button class="btn btn-info"><h4>NodeJS</h4></button>
  </a>
  <!-- <a href="/guides/bootstrap">
    <button class="btn btn-info"><h4>Bootstrap</h4></button>
  </a>
  <a href="/guides/typescript">
    <button class="btn btn-info"><h4>Typescript</h4></button>
  </a> -->
  <a href="/guides/docker/getting-started">
    <button class="btn btn-info"><h4>Docker - Getting Started</h4></button>
  </a>
  <a href="/guides/docker/persistent-storage">
    <button class="btn btn-info"><h4>Docker - Persistent Storage</h4></button>
  </a>
</center>
